/* src/styles/FormControls.css */

/* --- Input Wrapper --- */
.form-input-wrap {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

/* --- Input Field --- */
.form-input {
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    font-size: 16px;
    color: #404040;
    border: none;
    outline: none;
}

.form-input:focus {
    outline: 2px solid #002f34;
}

/* --- Select Field --- */
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    font-size: 16px;
    color: #404040;
    border: none;
    outline: none;
    cursor: pointer;
}

.form-select:focus {
     outline: 2px solid #002f34;
}

/* --- Button --- */
.form-btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.form-btn-wrap {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.form-btn-bg {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: -webkit-linear-gradient(-135deg,#002f34, #058492);
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
}

.form-btn-wrap:hover .form-btn-bg {
    left: 0;
}